---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Form from '@components/Form.astro';
import LeafletMap from '@components/LeafletMap.astro';

const STORE_COORDINATES: [number, number] = [48.07017, 11.604019];
// Adress: Professor-Huber-Straße 1, 82008 Unterhaching
const mapZoom = 16;

import { fetchDatoCMS } from '@api/fetchDatoCMS.js';
import { extractText } from '@utils/extractText.js';
import { kontaktQuery } from '@api/querys';
import RenderText from '@components/RenderText.astro';

const json = await fetchDatoCMS(kontaktQuery);
const data = json.data.kontakt;
const text = extractText(json, 'kontakt.mainText');
const text1 = extractText(json, 'kontakt.secondaryText1');
const text2 = extractText(json, 'kontakt.secondaryText2');
---

<Layout title='Kontakt' description='Erika Schweizer - Psychoterapeuten'>
    <Container title={data.mainTitle} className=''>
        <article class='prose'>
            <RenderText textEntrie={text} />
            <Form />
        </article>
        <article class='prose mt-8'>
            <h2>{data.secondaryTitle1}</h2>
            <RenderText textEntrie={text1} />

            <h2>{data.secondaryTitle2}</h2>
            <RenderText textEntrie={text2} />
        </article>

        <LeafletMap
            coordinates={STORE_COORDINATES}
            zoom={mapZoom}
            containerClass='max-w-2xl my-8 '
        />
    </Container>
</Layout>
