---
import Container from '@components/Container.astro';
import Layout from '@layouts/Layout.astro';

import { fetchDatoCMS } from '@api/fetchDatoCMS.js';
import { extractText } from '@utils/extractText.js';
import { leistungenQuery } from '@api/querys';
import RenderText from '@components/RenderText.astro';

const json = await fetchDatoCMS(leistungenQuery);
const data = json.data.leistungen;

const text = extractText(json, 'leistungen.mainText');
const text1 = extractText(json, 'leistungen.text1');
const text2 = extractText(json, 'leistungen.text2');
const text3 = extractText(json, 'leistungen.text3');
const text4 = extractText(json, 'leistungen.text4');
---

<Layout title='Leistungen' description='Erika Schweizer - Psychoterapeuten'>
    <Container title={data.title} className='flex flex-col gap-4'>
        <div class='prose'>
            <RenderText textEntrie={text} />
            <h2 id='leistungen1'>{data.secondaryTitle1}</h2>
            <RenderText textEntrie={text1} />
            <h2 id='leistungen2'>{data.secondaryTitle2}</h2>
            <RenderText textEntrie={text2} />
            <h2 id='leistungen3'>{data.secondaryTitle3}</h2>
            <RenderText textEntrie={text3} />
            <h2 id='leistungen4'>{data.secondaryTitle4}</h2>
            <RenderText textEntrie={text4} />
        </div>
    </Container>
</Layout>
