---
import { Image } from 'astro:assets';
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';

import { fetchDatoCMS } from '@api/fetchDatoCMS.js';
import { extractText } from '@utils/extractText.js';
import { homepageQuery } from '@api/querys';

const json = await fetchDatoCMS(homepageQuery);
const data = json.data.ueberMich;
const text = extractText(json);
---

<Layout title='Über mich' description='Erika Schweizer - Psychoterapeuten'>
    <Container
        title={data.title}
        className='flex flex-col md:flex-row justify-start xl:max-w-svw '
    >
        <figure class='aspect-auto justify-start'>
            <Image
                src={data.imageAboutMe.url}
                inferSize={true}
                alt={data.imageAboutMe.alt}
                class='object-cover w-full lg:max-w-72 flex-1'
            />
        </figure>
        <div class='prose'>
            {
                text.map((item: unknown) => {
                    return <p>{item}</p>;
                })
            }
        </div>
    </Container>
</Layout>
